:root{
    --background-color:#505050;
    --text-color:#a0a0a0;
    --box-shadow:#010101;

}



*{
    margin: auto;
    padding:8px;
}

body{
    background-image: url(../bg.jpg);
}
.box{
    background-color: rgba(155, 155, 155, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px var(--box-shadow);

}
.tool-containner{
    height: 80vh;
    width:80vw;
    position: relative;
    text-align: center;

}
h1{
    color: var(--text-color);
}
hr{
    border: none;
    border-top: 1px solid #000;
    height: 1px;
    margin: 0;
    padding: 0;
}

label{margin: 0;
    font-size: 14px;
    font-weight: bold;
}
input{
    width: 50vw;
}





.form{
    margin-top: 8px;
    width:70vw;
}

.btn{
    position: absolute;
    bottom: 10px;
    left:50%;
    text-align: center;
    transform:translate(-50%);
}
.tool{
    display: none;
    visibility: hidden;
}

.info-box{
    width: 80vw;
    height: 80vh;
    position: relative;
    
    
}
.info-box input[readonly] {
    font-size: 16px;
    border: none;
    background-color: transparent;
    color:var(--text-color); /* adjust the text color to match your theme */
    cursor: default; /* remove the pointer cursor */
    padding: 0; /* remove any padding */
    width:50%; 
    right:0;
    float:right;
  }
.info-box label{
    float: left;
    font-size: 16px;
    
}

.dp{
    height: 100px;
    width: 100px;
    border-radius: 50%;


}


.social-link{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 2px;
    height: 60px;

    
}
.icon{
    border-radius: 50%;
    height:50px;
    width: 50px;
}