:root{
    --background-color:#505050;
    --text-color:#ffffff;
    --box-shadow:#010101;
    --box-transparent: rgba(155, 155, 155, 0.3);
    --box-inside-transparent: rgba(155, 155, 155, 0.1);
    --input-background:rgba(181, 181, 181, 0.1);
}
/* 
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('your-image-url');
    background-size: cover;
    background-position: center;
    z-index: -1;
  } */

*{
    margin: auto;
    padding:8px;
}

body{
    background-image: url(../bg.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
}
.box-inside{
    background-color: var(--box-inside-transparent);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    /* filter:blur(2px); */
    
    
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px var(--box-shadow);
    /* backdrop-filter:blur(1px); */

}
.box{
    background-color: var(--box-transparent);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    /* filter:blur(2px); */
   
    
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px var(--box-shadow);
    backdrop-filter:blur(4px);

}
.tool-containner{
    height: 90vh;
    width:80vw;
    position: relative;
    text-align: center;

}
h1 {
    background-image: linear-gradient(to left, #e6db09, #e31f57, #d60de4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
  }
/* 
h1{
    color: var(--text-color);
} */
hr{
    border: none;
    border-top: 1px solid #000;
    height: 1px;
    margin: 0;
    padding: 0;
}

label{margin: 0;
    font-size: 14px;
    font-weight: bold;
}
input{
    width: 50vw;
}




.form{
    margin-top: 8px;
    width:70vw;
    height:65vh;
    overflow:auto;
}

.btn{
    padding:4px;
    width:80vw;
    display:flex;
    text-align: center;
   
}

.tool{

}

.info-box{
    width: 80vw;
    height: 80vh;
    position: relative;
    
    
}
.info-box input[readonly] {
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color:var(--text-color); /* adjust the text color to match your theme */
    cursor: default; /* remove the pointer cursor */
    padding: 0; /* remove any padding */
    width:50%; 
    right:0;
    float:right;
  }
.info-box label{
    float: left;
    font-size: 16px;
    
}

.dp{
    height: 100px;
    width: 100px;
    border-radius: 50%;


}


.social-link{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 2px;
    height: 60px;

    
}
.icon{
    border-radius: 50%;
    height:50px;
    width: 50px;
}
.action-btn{
    font-size: 20px;
    font-weight: bold;
    border: 0;
    width: 20px;
    height: 20px;
    float:right;
    padding: 0;
}

.disable{
    display:none;
    visibility:hidden;
}

.component-input::placeholder{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.component-input{
    border-radius:10px;
    background-color:var(--input-background);
    border: 0;
    width: 50vw;
    backdrop-filter: blur(1px);
    color:#ffffff;
    margin: 5px;
    transition: 0.5s;
}
.component-input:focus{
    outline: 0;
    width:60vw;
}

.cross{
    padding: 2px;
    height:25px;
    width: 25px;
    font-weight: bold;

    font-size: 16px;
    color:#000;
    text-align: centers;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80vw;
    height:80vh;
}

.auth-input{
    border-radius:10px;
    background-color:var(--input-background);
    border: 0;
    width: 50vw;
    backdrop-filter: blur(1px);
    color:#ffffff;
    margin: 5px;
    transition: 0.5s;
}

.auth-input::placeholder{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.auth-input:focus{
    outline: 0;
    width:60vw;
}

.login-btn{
border-radius: 10px;
border: 0;
margin-top: 50px;
color:red;
font-size: 20px;
font-weight: bold;
/* background-image: linear-gradient(to bottom, #9e9a4e, #e31f57, #d60de4); */
    
}

.btn-green{
    border-radius: 10px;
    border: 0;
    margin:2px;
    color:green;
    font-size: 20px;
    font-weight: bold;
    /* background-image: linear-gradient(to bottom, #9e9a4e, #e31f57, #d60de4); */
        
    }

    .btn-blue{
        border-radius: 10px;
        border: 0;
        margin: 2px;
        color:blue;
        font-size: 20px;
        font-weight: bold;
        /* background-image: linear-gradient(to bottom, #9e9a4e, #e31f57, #d60de4); */
            
        }



.figure{
    height:50vh;
    
}